<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mapper.TagMapper">

    <cache />

    <select id="getArticlesByTag" parameterType="string"
        resultType="persistence.Article">
        select a.id, a.title, au.name as author
        from articles as a, articleTagMaps as m, tags as t, authors as au
        where a.id = m.articleId
        and t.id = m.tagId
        and a.authorId = au.id
        and t.tag = #{tag};
    </select>

</mapper>